body{
    background-image: url(/img/cti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

h2, p {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10%;
}
